body, html {font-size:1em; 
    font-family: 'Open Sans', 'Helvetica', sans-serif; margin:0; padding:0; background-color: none;}


h1{font-size:2em; }
h2{font-size:1.3em; }
h3{font-size:.8em; }
h4{font-size:.6em; }
h1,h2,h3 {font-weight: 400;}

footer{width:70%; font-size:.8em; text-align: right; float:right; font-weight: 400;}

ul{margin:0; padding:0;}


#main-container{width:100%; height:auto; overflow-x: scroll;}
#wrapper-week-day{width:250%; height:auto; overflow-x: hidden; }

.org-names li, .week-day li { height:22px; color:#454545;
    background: #fff; list-style-type: none;  }
.org-names li{padding-left:12px; text-align: right; padding:0 8px 0 0;}
.org-names li:nth-child(odd) { background:#ededed; }
.week-day li:nth-child(odd) { background:#e5e5e5; }
.label-time-of-day li:nth-child(odd) { background:#767676; text-align: center;} 



.org-names { width:28%; height:auto; position: absolute; z-index: 99; left:0; top:0;
    border-right: solid 2px #fff;
    -webkit-box-shadow: 3px 0px 13px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    3px 0px 13px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         3px 0px 13px 0px rgba(50, 50, 50, 0.32);
}

.week-day {width:12.5%;  clear:none; height:auto; float:left; 
    position: relative; z-index: 10; 
    border-right: solid 2px #fff;}

.week-day li{padding-left:8px; font-size:.8em; text-align: center;}

p.label-day, p.org-label{background-color:#454545; 
    color:#fff; padding:5px; margin:0;}

p.label-day{text-align:center;}

.margin-left-20{ margin-left:11%;}

.label-time-of-day{  width:100%;}
.label-time-of-day li{ width:33%; margin:0; padding:0; 
    float:left; background-color: #767676; color:#fff;
    border-right: solid 1px #8c8c8b; text-align: center;}


.am, .noon,.pm{width:auto;width:33%; float:left;
        border-right: solid 1px #f0f0f0 ;}